$color_1: white;
$color_5: #41f6d7;
$color_6: #7e7e82;

.main-list {
   display: flex;
   justify-content: flex-start;
   align-items: baseline;
   overflow: auto;
   margin-left: 0px;
   // background-color: #f8f8f8;

   .main-list__item-thema_repair {
      border: 1px solid $color_5;
      background-color: $color_1;
   }

   .main-item {
      list-style-type: none;
      margin-left: 16px;
      padding: 8px 20px 8px 20px;
      white-space: nowrap;
   }
}

.main-list__link {
   text-decoration: none;
   color: $color_6;
   line-height: 24px;
}
