.swiper-pagination-bullet {
   width: 10px;
   height: 10px;
   margin: 0px 5px;
   margin-top: 10px;
   opacity: 1;
   display: flex;
   justify-content: center;
}

.swiper-pagination {
   display: flex;
   justify-content: center;
   margin-top: 10px;
   margin-bottom: 20px;
}

.swiper-pagination-bullet-active {
   background-color: #b5b6bc;
}

.swiper-container {
   padding-bottom: 50px;
}

.slider-container {
   overflow: hidden;
   width: 100%;
}

@media (max-width: 600px) {
   .card {
      // width: 100%;
      margin: 0;
      flex-shrink: 0;
   }

   .slider-container .swiper-wrapper {
      justify-content: initial;
      flex-wrap: nowrap;
   }
}

@media (min-width: 600px) {
   .swiper-pagination1,
   .swiper-pagination2,
   .swiper-pagination3 {
      display: none;
   }
}
